<app-loader *ngIf="isLoading"></app-loader>
<app-header></app-header>
<div class="container">
  <div class="row user-dashboard">
    <div class="col-12">
      <app-calendar [modalData]="modalData" [meetings]="meetings" (calendarEventEmitter)="onCalendarEvent($event)">
      </app-calendar>
    </div>
  </div>
</div>

<!-- template for meeting modal -->
<ng-template #meetingTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left"> Your meeting </h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="meetingModalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <app-meeting [isEditMeeting]="false" [isViewOnlyMeeting]="true" [selectedMeeting]="selectedMeetingForView"
      (onFormClose)="closeModal()">
    </app-meeting>
  </div>
</ng-template>

<!-- template for reminder modal -->
<ng-template #reminderTemplate let-close="close">
    <div class="modal-header">
      <h5 class="modal-title">Meeting Reminder</h5>
      <button type="button" class="close" (click)="snoozeRemiderModal()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <h6 class="card-title">Your meeting <span><b>"{{meetingEvent.title}}"</b></span> will start soon.</h6>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-success"
        (click)="snoozeRemiderModal()">Snooze</button>
      <button type="button" class="btn btn-outline-secondary"
        (click)="dismissRemiderModal()">Dismiss</button>
    </div>
  </ng-template>